.comments {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.show-page-comment-buttons {
  display: flex;
  align-items: center;
  background: none;
  padding-top: 5px;
}

.show-page-comment-buttons > div {
  width: 77.65px;
}

.comment-content a {
  color: #210203;
  font-size: 15px;
}

.comment-text p {
  margin-bottom: 5px;
  color: #3D5A6C;
  font-size: 17px;
}

.comment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  background-color: cornflowerblue;
  padding: 1px 3px;
  top: 0;
  right: 0;
  cursor: pointer;
}

.comment-button:hover {
  background-color: skyblue;
}

.comment-box {
  padding-top: 5px;
  background: none;
  border: none;
  width: 100%;
}

.comment-box:focus {
  outline: none;
}

li {
  list-style-type: none;
  display: flex;
  margin-top: 2%;
  width: 100%;
}

.edit-comment-form {
  width: 100%;
}

.edit-comment-form input {
  font-weight: 900;
}

.create-comment-form {
  width: 100%;
}

.create-comment-form h4 {
  font-weight: 900;
}

.create-comment-form input {
  font-weight: 900;
}

.comments hr {
  margin: 3px
}

.circle {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  margin-top: 5px;
}
