.show-page-comment-buttons {
  display: flex;
  align-items: center;
  background: none;
}

.comment-button {
  border: 1px solid gray;
}

.comment-box {
  background: none;
  border: none;
}

.comment-box:focus {
  outline: none;
}

li {
  list-style-type: none;
}