.dropdown-menu.show {
  display: block;
  background-color: steelblue;
  color: white;
}

.logout a:hover {
    color: #1F3A59;
    text-decoration: none;
    background: orange;
}

#logout-user {
    // color: white;
    margin-top: 20px;
    cursor: pointer;
    padding-bottom: 0;
}

#dropdownMenuButton {
  background: transparent;
  border-color: transparent;
}

.dropdown-item {
  text-indent: 10px;
}

.dropdown-item:hover {
  text-indent: 10px;
}