
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
}

.form form {
    width: 28%;
}

.login {
    padding-bottom: 5%;
}

.form header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fade {
    margin-top: 10px;
}


.errors {
    margin-top: 10px;
    color: red;
    list-style: none;
    font-size: 11px;
    left: 0;
}