
//THE GOOD STUFF
.container {
    color: #FFB400;
    display: inherit;
    font-weight: bold;
}

.row {
    margin: auto;
}

.main-page {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 80vh;
}

.main-page header {
    display: flex;
    align-items: center;
}

.main-page h1 {
    color: cornflowerblue;
    font-size: 50px;
}

.main-page span {
    font-family: 'Ubuntu', sans-serif;
}

.main-page button {
    display: none;
}

