//THE GOOD STUFF

a {
  text-decoration: none;
}
.container {
  color: #ffb400;
  display: inherit;
  font-weight: bold;
}

.row {
  margin: auto;
}

.main-page {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  padding-bottom: 50px;
  min-height: 100vh;
  transition: all 0.5s;
}

.main-page header {
  display: flex;
  align-items: center;
}

.main-page h1 {
  color: cornflowerblue;
  font-size: 50px;
}

.main-page span {
  font-family: "Ubuntu", sans-serif;
}

.main-page button {
  display: none;
}

.track {
  display: flex;
  align-items: flex-end;
  height: 120px;
  border-radius: 5px;
  width: 100%;
  padding-bottom: 0px;
  border: 2px solid black;
  margin-top: 10px;
  background: white;
  cursor: pointer;
}

.link-to-track {
  width: 100%;
  transition: all 0.5s;
}

.track > div {
  border: 1px solid grey;
  border-radius: 2px;
  color: white;
  align-items: center;
  transition: all 0.5s;
}

.track-outer {
  height: 100%;
  width: 100%;
  margin-bottom: 25px;
}

.track-outer header {
  margin-left: 79px;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.track-outer header h4 {
  font-weight: 900;
}

.flexer {
  width: 100%;
  display: flex;
  align-items: center;
}

.track-outer > h4 {
  margin: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-decoration: none;
}

#tt {
  text-decoration: none;
  color: black;
  padding-left: 40px;
  padding-top: 10px;
}

#th {
  text-decoration: none;
  font-size: 16px;
  color: black;
  padding-left: 40px;
  padding-top: 2px;
}

.top-tracks {
  margin: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.play-button {
  position: relative;
  right: 6px;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;
  width: 30px;
  text-align: center;
  margin: 20px;
}

.stop-button {
  position: relative;
  right: 6px;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;
  width: 30px;
  text-align: center;
  margin: 20px;
}
