
.navbar {
    display: flex;
}

.logout {
    height: 100%;
}

.logout .btn {
    margin: 5px;
    padding: 5px;
}

.logout .btn:hover {
    color: cornflowerblue;
}

.nav-btn {
    height: 100%
}

.nav-btn .btn {
    margin: 5px;
    padding: 5px;
}

.nav-btn a {
    color: whitesmoke;
}

.nav-btn a:hover {
    color: lightgreen;
    text-decoration: none;
}

.toast-body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #87919E;
}

.toast button {
    display: none;
}

strong h1 {
    font-family: 'Quantico', sans-serif;
    margin-bottom: 0;
}

strong a:hover {
    text-decoration: none;
}