.material-icons {
  cursor: pointer;
  font-size: 40px;
  color: gray;
  font-weight: bolder;
}

.material-icons.upvote:hover {
  color: rgb(0, 192, 0);
  transition: 0.2s;
}
.material-icons.downvote:hover {
  color: red;
  transition: 0.2s;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  font-size: 20px;
}

.vote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.upvoted {
  color: rgb(0, 192, 0);
}

.downvoted {
  color: red;
}
