.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 280px;
}

.search-bar-input {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  padding: 2.5px;
  text-indent: 5px;
  width: 300px;
}

// .search-bar-input:active {
//   border: none;
//   outline: none;
// }

#search-icon {
  font-size: 29px;
  background: orange;
  color: #1F3A59;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#search-icon:hover {
  color: white;
}

#clear-icon {
  font-size: 15px;
  position: absolute;
  right: 5px;
  top: 7px;
  bottom: 0;
  
}

.search-dropdown {
  position: absolute;
  z-index: 10000;
  top: 46px;
  left: 30px;
  border: 1px solid gray;
  background: white;
  width: 300px;
  transition: 0.5s;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-indent: 10px;
}

#search-results {
  color: black;
  text-indent: 30px;
  line-height: 2;
  font-size: 14px;
}

#search-results:hover {
  text-decoration: none;
  
}

#search-header {
  margin-top: 5px;
  background: rgb(231, 231, 231);
  border-bottom: 1px solid lightgray
}

#search-links:hover {
  text-decoration: none;
}

#search-li:hover {
  background: rgb(238, 250, 255);
}

.search-dropdown.hidden {
  border: none;
}