.search-bar {
  display: flex;
  width: 100%;
  // width: 700px;
  // min-width: 550px;
  justify-self: self-end;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 20px;
  // left: 15px;
}

.search-bar-input {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  padding: 2.5px;
  text-indent: 5px;
  min-width: 150px;
  width: 80%;
  // width: 300px;
}

// .search-bar-input:active {
//   border: none;
//   outline: none;
// }

#search-icon {
  font-size: 29px;
  background: orange;
  color: #1F3A59;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#search-icon:hover {
  cursor: default;
}

#clear-icon {
  font-size: 15px;
  position: relative;
  right: 20px;
  // top: 50px;
  // bottom: 0;
  
}

.search-dropdown {
  position: absolute;
  z-index: 10000;
  top: 50px;
  border: 1px solid gray;
  background: white;
  min-width: 150px;
  // max-width: 1000px;
  width: 80%;
  margin-left: 12px;
  transition: 0.5s;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-indent: 10px;
}

#search-results {
  color: black;
  text-indent: 30px;
  line-height: 2;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

#search-results:hover {
  text-decoration: none;
}

#search-header {
  margin-top: 5px;
  background: rgb(231, 231, 231);
  border-bottom: 1px solid lightgray
}

#search-links:hover {
  text-decoration: none;
}

#search-li:hover {
  background: rgb(238, 250, 255);
  text-decoration: none;
}

.search-dropdown.hidden {
  border: none;
}