.outer-track-container {
  display: flex;
  align-items: center;
}

.notes {
  display: flex;
  align-items: flex-end;
  height: 110px;
  border-radius: 5px;
  width: 100%;
  padding-bottom: 0px;
  border: 2px solid black;
  margin-top: 40px;
  background: white;
  overflow: scroll;
}

.actual-block {
  flex: 1 1 auto;
}

#dragger {
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notes > div {
  border: 1px solid grey;
  border-radius: 2px;
  color: white;
  align-items: center;
}

.tracks-container {
  background: rgb(226, 237, 252);
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 19%;
  margin-right: 19%;
  padding-bottom: 50px;
  font-family: "Raleway", sans-serif;
  box-shadow: 1px -2px 10px 2px #888888;
  overflow: scroll;
}

button {
  border: 0px;
  padding: 0px;
}

.track-title-form > button {
  margin: 5px;
  width: 70px;
  height: 40px;
  border-radius: 4px;
  font-weight: 100;
  color: white;
  font-family: "Titillium Web", sans-serif;
  background: black;
}

.track-title-form > h4 {
  padding-top: 10px;
}
.track-title-form > h3 {
  padding-top: 10px;
  font-weight: 900;
}

.tracks-title {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  padding-bottom: 50px;
}

.real-title {
  height: 60px;
  font-weight: bold;
}

.play-button {
  margin-left: 5px;
}

.track-title-form > label {
  font-family: "Raleway", sans-serif;
}

.save-track {
  font-weight: 900;
  background-color: palevioletred;
  color: white;
  font-family: "Titillium Web", sans-serif;
  border: none;
  border-radius: 5px;
  height: 40px;
}
 
.save-track:hover {
  color: greenyellow;
  background-color: plum;
}


.errors {
  color: red;
  font-family: "Titillium Web", sans-serif;
  font-size: 13px;
  font-weight: 100;
  height: 20px;
}

#real-button {
  height: 50px;
  width: 80px;
  background: black;
}

.no-tracks {
  display: flex;
  justify-content: center;
  align-items: center;
}
